Flask==3.0.3
numpy==2.0.0
pandas==2.2.2
seaborn==0.13.2
scikit-learn==1.5.2
imbalanced-learn==0.12.3


#run the command pip install -r requirements.txt after adding all the required dependencies and their version here